import consoleUtils

print consoleUtils.paintAsHeader("head up")
print consoleUtils.paintAsFail("something wrong baby")
print consoleUtils.paintAsOkBlue("sing the blues")
print consoleUtils.paintAsOkGreen("i am greeny ok")
print consoleUtils.paintAsWarning("watch out")

[
  {
    'aliases':['desenvolvimento'],
    'configuration_parameters':[
      {
        'startup':'true',
        'shutdown':'false',
        'className':'br.com.getnet.portais.commons.assets.weblogic.jndi.StringInitializer',
        'arguments':[
          
        ]
      }
    ],
    'targets':['WC_adquirencia'],
    },
  {
    'aliases':['hti','homologacao'],
    'configuration_parameters':[],
    'targets':['plataforma_cluster'],
    },
  {
    'aliases':['producao'],
    'configuration_parameters':[],
    'targets':['plataforma_cluster'],
    },
]
